.card {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: column nowrap;
  height: 280px;
  width: 200px;
  /* background-color: rgba(44, 44, 44, 0.205); */
  background-color: rgba(255, 255, 255, 0.144);
  margin: 2rem;
  box-shadow: 0px 0px 30px -3px rgba(245, 245, 245, 0.32), 0 0 3px black inset;
  border-radius: 3px;
  border: 1px black outset;
  transition: 100ms linear;
}

.card:hover {
  box-shadow: 0px 0px 37px -3px rgba(245, 245, 245, 0.317), 0 0 3px black inset;
}

.card:hover > .card__title {
  animation: sparkle 3s infinite alternate linear;
}

/* Cant get the SVG to show up if its not a backgroundimage */
/* .card__vine {
  position: absolute;
  bottom: 120px;
  left: 77px;
  border: solid green 3px;
  object-fit: cover;
} */

/* .card__vine::after {
  content: '';
  bottom: 0;
  left: -210px;
  position: absolute;
  height: inherit;
  width: inherit;
  transition: 1s;
} */

.card__img {
  object-fit: cover;
  object-position: top;
  height: 900px;
  width: 100%;
  border-bottom: 1px solid black;
  box-shadow: 0px 7px 13px -9px black;
  border-radius: 2px;
  transition: 200ms;
}

.card__img:hover {
  filter: saturate(1.5);
}

.card__title {
  align-self: flex-start;
  font-size: 1.5rem;
  padding-left: 1rem;
  text-transform: uppercase;
  text-shadow: 0px 3px 2px rgb(14, 9, 9);
  color: rgb(121, 204, 132);
  transition: 400ms;
}

.card__likes {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 2rem;
  height: inherit;
  width: inherit;
  text-shadow: 0px 3px 2px rgb(14, 9, 9);
  color: rgb(121, 204, 132);
}

.card__close {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 40px;
  width: 40px;
  right: 0;
  cursor: pointer;
  font-size: 1.5rem;
  filter: brightness(0.5);
}

.card__close:hover {
  filter: brightness(1);
}

@keyframes sparkle {
  from {
    text-shadow: 0px 3px 2px rgb(250, 24, 24);
  }
  30% {
    text-shadow: 1px 4px 3px rgb(216, 26, 216);
  }
  60% {
    text-shadow: 2px 4px 4px rgb(210, 212, 43);
  }
  90% {
    text-shadow: 1px 4px 3px rgb(37, 161, 192);
  }
  to {
    text-shadow: 0px 3px 2px rgb(150, 173, 74);
  }
}
