@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --main-font: 'Shadows Into Light', cursive;
  --search-font: 'Karla', sans-serif;
}

body {
  position: relative;
  background-image: url('https://source.unsplash.com/jqgsM3B9Fpo/2400x1600');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: var(--main-font);
  z-index: 0;
}

/* Is this bad practice? */
body::after {
  content: '';
  position: absolute;
  top: 0;
  height: 100%;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.372);
  z-index: -1;
}
